.messageBox{
	position:fixed;
	width:auto;
	height:auto;
	top:100px;
	left:40%;
	background: #FF4D4D;
	z-index:100;
}
p.messageBoxText{
	padding:5px 10px 5px 10px;
	width:auto;
   	height: 20px;
    	display: table-cell;
   	vertical-align:middle;
   	text-align:center;
	color:black;
}