body {

  padding-bottom: 40px;
  background-color: #c7c3c3;
}

.form-signin {
  max-width: 330px;
  min-width:300px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#pageTitle{
	text-align:center;
}
.threeD-text{
font-family: 'Comic Sans MS', cursive;
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 60px;
text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

}
.cbp-mc-row {
 display: inline-block;
}
#google-login{
	position:absolute;
	padding-top:190px;
	z-index:200;
}
#normal-login{
	position:absolute;
	padding-top:90px;
	padding-left:650px;
}
#signUp{max-width:270px;margin-left:15px;}

#gl-image{
 width:450px; 
 height:100px;
}
#separator{
position:absolute;
top:300px;
left:620px;
z-index:1;
}